.obg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-score-card-lg-bg.png');
  background-size: cover;
}

.trophy {
  height: 180px;
}
.score {
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 18px;
}

.reset {
  height: 18px;
}

.obg2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  background-color: #cf60c8;
}
.btn {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}
